@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

body {
  margin: 0;
}

#container {
  width: 100%;
  height: 1200px;
  /*background: url(http://subtlepatterns.com/patterns/zwartevilt.png);*/
  background: url(./image.jpg);
  /*Background credits: http://www.evanzummeren.com/ */
}

#inner {
  position: relative;
  top: 200px;
  font-size: 4em;
  text-align: center;
  font-family: "Open Sans", "Droid Sans", "Segoe UI", sans-serif;
  font-weight: 300;
  color: transparent;
  background: #888;
  -webkit-background-clip: text;
}

#btn {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 400px;
  font-size: 2em;
}